<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
<servlet>
	<servlet-name>creating01</servlet-name>
	<servlet-class>p1.creating</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>creating01</servlet-name>
	<url-pattern>/createpost11</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>creating02</servlet-name>
	<servlet-class>p1.update</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>creating02</servlet-name>
	<url-pattern>/updating</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>creating03</servlet-name>
	<servlet-class>p1.UserLogin1</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>creating03</servlet-name>
	<url-pattern>/login</url-pattern>
</servlet-mapping>
</web-app>